header.masthead {
  margin-bottom: 50px;
  background: no-repeat center center;
  background-color: #868e96;
  background-attachment: scroll;
  position: relative;
  background-size: cover;
}

header.masthead .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #212529;
  opacity: 0.5;
}

header.masthead .site-heading {
  text-align: center;
  padding: 60px 0;
}

header.masthead .site-heading h1 {
  font-size: 30px;
  font-weight: 800;
}

header.masthead .site-heading a {
  color: white !important;
}

@media (min-width: 768px) {
  header.masthead .site-heading {
    padding: 100px 0;
  }

  header.masthead .site-heading h1 {
    font-size: 50px;
  }
}

.navbar-home {
  position: absolute;
  background-color: transparent;
  display: none;
}
