header.masthead {
  background: no-repeat center center;
  background-color: #868e96;
  background-attachment: scroll;
  background-image: url("/img/bg.jpg");
  position: relative;
  background-size: cover;
}

header.masthead .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #212529;
  opacity: 0.5;
}
header.masthead .site-heading a {
  font-weight: 800;
  color: white !important;
}

@media (min-width: 768px) {
  header.masthead .site-heading {
    padding: 6rem 0 !important;
  }

  header.masthead .site-heading .title {
    font-size: 4rem;
  }
}

.navbar-home {
  position: absolute;
  background-color: transparent;
  display: none;
}
